coffea==2025.11.0
coffea[dask]==2025.11.0
SQLAlchemy<2.0

hist
awkward
vector
jupyterhub
jupyterlab
ipykernel
async_timeout

dask
distributed
dask-jobqueue
dask-gateway
dask-gateway-server
lz4
msgpack
tornado
numpy
pandas
matplotlib
fsspec-xrootd
xrootd
